body {
    margin:0px;
    padding:0px;
    font-family:Arial;
    font-size:1vw;
}

a {
	cursor:pointer;
}

h1, h2, h3, h4 {
	pointer-events:none;
}

img {
	pointer-events:none;
}

.header {
    width:100%;
    min-width:800px;
    height:9.5vh;
    background-color:#1E1A26;
    text-align:center;
    color:white;
}

.header-padding {
	padding:10px 0 10px 20px;
}

#overLay1 {
	position:absolute;
	z-index:1;
	background-color:white;
	padding-top:25vh;
	Height:75vh;
	width:100vw;
	text-align:center;
	vertical-align:middle;
	
	-webkit-transition: all 3s ease;
  	-moz-transition: all 3s ease;
  	transition: all 3s ease;
}

#overLay2 {
	position:absolute;
	border:black 1px solid;
	z-index:1;
	background-color:white;
	margin:10vh 0 0 12.5vw;
	Height:80vh;
	width:75vw;
	min-width:800px;
	text-align:center;
	vertical-align:middle;
  	display:none;
}

.settingsContainer {
	width:100%;
	height:90%;
	min-width:800px;
}

.settingsSplit {
	width:50%;
	height:100%;
	float:left;
}

.leftSplit {
	width:40%;
	height:15%;
	float:left;
}

.rightSplit {
	width:60%;
	height:15%;
	float:left;
}

.rightSplit select{
	width:90%;
	height:90%;
	font-size:2em;
}

.headerPadding {
	padding:10px 0 10px;
	text-align:center;
}

#wordAreaContainer {
	background-color:white;
}