body {
    margin:0px;
    padding:0px;
    font-family:Calibri;
    font-size:1vw;
}

img {
	max-width:70%;
	max-height:70%
}

form, table, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.mainContainer {
    width:100vw;
    height:100vh;
}

#loading {
	position:absolute;
	z-index:1;
	background-color:white;
	padding-top:25vh;
	Height:75vh;
	width:100vw;
	text-align:center;
	vertical-align:middle;
	
	-webkit-transition: all 3s ease;
  	-moz-transition: all 3s ease;
  	transition: all 3s ease;
}

.header {
    padding-top:0.5vh;
    width:100%;
    height:9.5vh;
    background-color:#1E1A26;
    text-align:center;
    color:white;
}

.speechBar {
    height:20vh;
    width:100%;
    background-color:#5B6973;
}

.speechButton :hover {
	cursor:pointer;
}

.speechButton {
    height:100%;
    width:10%;
}

.wordAreaContainer {
    height:70vh;
    width:100%;
}

#wordAreaMain {
    height:70vh;
    width:100%;
    position:absolute;
    z-index:1;
}

#wordAreaOne {
    height:70vh;
    width:100%;
    position:absolute;
    z-index:2;
    background-color:red;
    display: none;
}

.wordAreaTable {
    width:100%;
    height:100%;
}

.wordButton {
    height:100%;
    width:100%;
    font-size:100%;
    background-color:lightgray;
}

td {
    height:25%;
    width:16%;
    text-align:center;
    vertical-align:middle;
}


